<div class="footer__container">
	<div class="direitos" style="background-color:transparent;color: whitesmoke;">
    <p><strong>JHOGVI STORE LTDA</strong> | CNPJ: {{cnpj}}</p>
    <p>&copy; {{copy}}</p>
    <div class="footer__links">
      <!-- <a href="/sobre">Sobre</a>
      <a href="/contato">Contato</a>
      <a href="/politica-privacidade">Política de Privacidade</a>
      <a href="/termos">Termos de Uso</a> -->
    </div>

    <div class="footer__social">
      <!-- <a href="https://instagram.com/jhogvi" target="_blank">Instagram</a> -->
      <!-- outros ícones sociais, se quiser -->
    </div>
	</div>

</div>
