.menu__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	background-color: black;
	padding: 10px;
	border-bottom: 4px solid rgb(3, 85, 0);
}

.menu_logo img {
	width: 90px;
	height: 90px;
	border-radius: 50%;
}

.menu_toggle {
	display: none;
	background: none;
	border: none;
	color: white;
	font-size: 30px;
	cursor: pointer;
}

/* Menu normal */
.menu_options {
	display: flex;
}

.menu_options ul.options {
	display: flex;
	flex-direction: row;
	list-style: none;
	gap: 20px;
}
.options > a {
	list-style: none;
	text-decoration: none;
	color: inherit;
	position: relative;  /* Necessário para posicionar o pseudo-elemento */
	display: inline-block;
	margin-left:20px;
	transition: color 0.3s ease; /* Transição da cor */

	font-weight: bold;

}
.options > a > li{
	font-size: 25px;
	font-weight: bold;
}


/**********/

  /* Criando a linha vermelha embaixo do link */
  .options > a > li::after {
	content: '';  /* Necessário para criar o pseudo-elemento */
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 2px;  /* Espessura da linha */
	background-color:rgb(3, 99, 0);  /* Cor da faixa */
	transition: width 0.3s ease; /* Transição suave para a largura */
  }

  /* No hover, aumentamos a largura da linha */
  .options > a > li:hover {
	color: gray;  /* Cor do link no hover */
  }

  .options > a > li:hover::after {
	width: 100%;  /* Faz a linha se expandir */
  }

/* MOBILE */
@media (max-width: 768px) {
	.menu_toggle {
		display: block;
	}

	.menu_options {
		display: none;
		width: 100%;
	}

	.menu_options.open {
		display: flex;
		justify-content: center;
	}

	.menu_options ul.options {
		flex-direction: column;
		align-items: center;
		width: 100%;
		gap: 15px;
	}
}
