<div class="menu__container">
	<div class="menu_logo">
		<a [routerLink]="['']">
			<img src="assets/img/jhogvi.png" alt="Logo">
		</a>
	</div>

	<!-- Botão hamburguer -->
	<button class="menu_toggle" (click)="toggleMenu()">☰</button>

	<!-- Menu de opções -->
	<div class="menu_options" [ngClass]="{ 'open': isMenuOpen }">
		<ul class="options">
			<a [routerLink]="['']"><li>Jhogvi</li></a>
			<a [routerLink]="['produtos']"><li>Produtos</li></a>
			<a [routerLink]="['eventos']"><li>Eventos</li></a>
			<!-- <a [routerLink]="['carrinho']"><li>Carrinho</li></a> -->
			<a [routerLink]="['suporte']"><li>Suporte</li></a>
		</ul>
	</div>
</div>
