app-filter{width: 100%;}
app-card-event{
	height: 250px;
	width: 100%;
	/* border: 3px solid white; */
}

.eventos__container {
	min-height: 90vh;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: space-between;
	margin: 30px 20px;
	gap: 10px;
}

.events_filter {
	display: flex;
	flex-direction: row;
	width: 25%;
	/* border: 2px solid red; */
}

.events_cards {
	display: flex;
	flex-direction: column;
	width: 70%;
	min-height: 60vh;
	border-radius: 15px;
	box-shadow: 0px 0px 3px 3px green;
}

.events_cards > h1 {
	padding-top: 20px;
	margin-left: 20px;
}

.events_cards > div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 20px;
	padding: 20px;
}

@media (max-width: 768px) {
	app-card-event{
		height: 500px;
		width: 100%;
		/* border: 3px solid white; */
	}

	.eventos__container {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		gap: 20px;
	}

	.events_filter {
		width: 80%;
	}

	.events_cards {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 90%;
	}

	.events_cards > div {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		overflow: hidden;
		min-height: 500px;
	}
}
