.content__container{
	display: flex;
	flex-direction: row;
	/* justify-items: center; */
	/* align-content: center; */
	justify-content: center;
	/* align-items: center; */
	width: 100%;
	min-height: 90vh;
	/* border: 2px solid blue; */
}
.content__content{
	display: flex;
	width: 90vw;
	flex-direction: column;
	align-items: center;
}
.content__main{
	display: flex;
	width: 100%;
	min-height: 60vh;
	flex-direction: row;
	border-bottom: 3px solid green;
	align-items: flex-start;
	justify-content: space-around;
	/* border: 1px solid greenyellow; */
}

.content__cover{
	display: flex;
	justify-content: flex-start;
	width: 30%;
	margin: 30px 30px;
	height: 80%;


}

.content__cover > img {
	height: 100%;
	width: 100%;
	border-radius: 20px;
	box-shadow:0px 0px 2px 2px rgb(0, 190, 0);
	object-fit: contain;
	background-color: rgb(41, 41, 41);

}

.content__elements{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 30px 30px;
	width: 70%;
	height: 80%;
	/* border: 1px solid rgb(0, 255, 98); */
}

.content__title > h1{
	font-size: 30px;
	font-weight: 500;
	text-align: justify;
}

.content__title p{
	margin-top: 20px;
	font-weight: 550;
	font-size: 16px;
}

.content__price{
	/* border: 1px solid red; */
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-start;
	color: rgb(255, 255, 255);
	margin-left: 20px;
	text-shadow: 0px  0px 7px  greenyellow;
}

/* .content__price > span{
	color: rgb(129, 129, 129);
	text-decoration: line-through;
	margin: 0px  10px;
	font-size: 16px;

} */

.content__price > h3{
	font-weight: 600;
	font-size: 22px;
}


.content__shopping{
	/* border: 1px solid red; */
	margin-top: 10px;
}

.content__shopping > ul{
	display: flex;
	flex-direction: column;
	align-items: space-around;
	/* max-width: 80vw; */
	flex-wrap: wrap;
}

.content__shopping > ul > li {
	list-style: none;
	margin: 10px 20px;
}

.content__shopping > ul > li > button{
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 300px;
	height: 45px;
	font-size: 22px;
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.4);
	border: 2px solid rgb(0, 190, 0);
	color: white;
}

.content__shopping > ul > li > button:hover{
	transform: scale(1.05);
	transition: 0.6s;
	cursor: pointer;
}

.content__shopping a {
	list-style: none;
	text-decoration: none;
	color:  inherit;
}
.content__description{
	/* border: 1px solid red; */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 95%;
	margin: 20px 0px;
	max-width: 95%;
	gap: 20px;
}

.content__description > p{
	font-size: 16px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: justify;
}

@media (max-width:720px){
	.content__container{display: flex; align-items: center;justify-content: center;width: 100%;}
	.content__content{ width: 90%; border: 2px solid white; display: flex;flex-direction: column; flex-wrap: wrap; align-items: center;justify-content: flex-start;}
	.content__main{width: 100%;display: flex; align-items: center;justify-content: center; flex-wrap: wrap;}
	.content__cover{width: 90%; margin: 0;padding:20px;}
	.content__elements{width: 90%;margin: 10px;}
	.content__shopping > ul > li > button{	width: 100%;}
}
