app-elements{
	width: 60vw;
}

app-resulted{
	width: 30vw;
}


.shopping__container{

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-around;
	overflow: hidden;
}

.shopping__components{
	background-color: rgb(111, 111, 111);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	height: 40px;
	padding: 0px 15px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

/* .product_check 10
.elements_products 40
.button_qtd 15
.elements_price 35 */

.elements_check{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 10%;

}
.elements_products{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 40%;
	justify-content: center;

}
.elements_qtd{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	width: 15%;

}

.elements_price{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	width: 35%;
	gap: 55px;
}

.shopping__info{
	display: flex;
	flex-direction: column;
	min-width: 50%;
	min-height: 80vh;
	margin: 10px 20px;
	border-radius: 20px;
	border: 3px solid rgb(59, 59, 59);
	background-color: rgba(146, 146, 146, 0.2);
}

.resulted{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	margin: 10px 20px;
	min-height: auto;
	border: 3px solid rgb(59, 59, 59);
	background-color: rgba(133, 133, 133, 0.2);
}
