<div class="shopping__container">
	<div class="shopping__info">
	  <div class="shopping__components">

		<div class="elements_check">
			<input type="checkbox" (change)="toggleAllSelection()" [checked]="selectAll">
		</div>
		<div class="elements_products">
			<h2>Descrição</h2>
		</div>
		<div class="ekements_qtd">
			<h3>UN</h3>
		</div>
		<div class="elements_price">
			<h3>Valor UN</h3>
			<h3>Total</h3>
		</div>



	  </div>
	  <app-elements
	  *ngFor="let product of products"
	  [id]="product.id"
	  [prodImg]="product.imagens?.[0] || 'caminho/para/imagem-padrão.jpg'"
	  [prodName]="product.titulo"
	  [qtd]="product.qtd"
	  [price]="product.preco"
	  [isSelected]="product.selected !== undefined ? product.selected : false"
	  (updateQtd)="updateQtd(product.id, $event)"
	  (toggleSelection)="updateProductSelection(product.id, !product.selected)"
	/>

	</div>
	<div class="resulted">
	  <app-resulted [cartItems]="products" [totalPrice]="totalPrice"></app-resulted>
	</div>
</div>
