<!-- Container dos filtros -->
<div class="filter__container">
  <h1>Filtros</h1>
  <div class="filter_contents">

    <!-- Filtro por Nome -->
    <div>
      <h3>{{ nameTitle }}</h3>
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <mat-select [(ngModel)]="name">
          <mat-option value="">Todos</mat-option>
          <mat-option *ngFor="let n of nameOptions" [value]="n">{{ capitalizeFirst(n) }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Filtro por Tipo -->
    <div>
      <h3>{{ typeTitle }}</h3>
      <mat-form-field>
        <mat-label>{{ typeTitle }}</mat-label>
        <mat-select [(ngModel)]="type">
          <mat-option value="">Todos</mat-option>
          <mat-option *ngFor="let t of typeOptions" [value]="t">{{ capitalizeFirst(t) }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Filtro por Subcategoria -->
    <div>
      <h3>{{ subcategoryTitle }}</h3>
      <mat-form-field>
        <mat-label>{{ subcategoryTitle }}</mat-label>
        <mat-select [(ngModel)]="subcategory">
          <mat-option value="">Todos</mat-option>
          <mat-option *ngFor="let sub of subcategoryOptions" [value]="sub">{{ capitalizeFirst(sub) }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Filtro por Localização (se for evento) -->
    <div *ngIf="filterType === 'event'">
      <h3>{{ locationTitle }}</h3>
      <mat-form-field>
        <mat-label>{{ locationTitle }}</mat-label>
        <mat-select [(ngModel)]="location">
          <mat-option value="">Todos</mat-option>
          <mat-option *ngFor="let local of locationOptions" [value]="local">{{ capitalizeFirst(local) }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>

  <!-- Botões -->
  <div class="filter_buttons">
    <button mat-raised-button class="filter" (click)="applyFilter()">Filtrar</button>
    <button mat-raised-button class="clean" (click)="clearFilter()">Limpar</button>
  </div>
  <!-- Alerta dinâmico -->
  <div *ngIf="showFeedback" class="alert-box">
	<mat-card class="mat-elevation-z4 alert-content">
	  {{ feedbackMessage }}
	</mat-card>
  </div>


</div>
