<div class="mini__container">
	<a [routerLink]="['/produto', id]">
		<div class="mini_img">
			<img [src]="imgProduct" alt="Imagem do Produto">
		</div>
		<div class="mini_content">
			<h2> {{title}} </h2>
			<span> R$ {{formatBrl.formatBrl(price)}}</span>
		</div>
	</a>

		<div class="mini_buttons">
			<a [routerLink]="['/produto', id]"><button>Ver Detalhes</button></a>
			<!-- <button (click)="addProductToCart()">Adicionar ao Carrinho</button> -->
			<a [href]="comprarProd" target="_blank"><button>Comprar</button></a>
		</div>

</div>

