app-filter{width: 100%;}
.products__container{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;

	margin: 30px 20px;
	min-height: 90vh;
}

.products_filter{
	display: flex;
	flex-direction: row;
	width: 25%;
	/* border: 2px solid red; */
}

.products_cards{
	display: flex;
	flex-direction: column;
	width: 70%;
	border-radius: 15px;
	box-shadow: 0px 0px 3px 3px green;
}

.products_cards>h1{
	padding-top: 20px;
	margin-left: 20px;
}

.products_cards div{
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
	padding: 20px;
}

@media (max-width: 768px) {
	.products__container{display: flex; flex-direction: column;gap: 20px; align-items: center;justify-content: flex-start;}
	.products_filter{width: 80%;}
	.products_cards{width: 90%;}
	.products_cards>div{display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;}
}
