app-left, app-right{
	width: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
}

.home__container {
	width: 100%;
	min-height: 79vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
}

.content {

display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
align-items: flex-start;
width: 100%;
min-height: 77vh ;
}

.content > .bone_filter {

display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
/* width: 49vw; ou 49vw, se quiser deixar metade da tela */
box-sizing: border-box;
overflow: hidden;
}

.bone_filter {

position: absolute;
left: 0;
gap: 10px;
width: 150px;
height: 60vh;
margin-top: 10vh;
z-index: 5;
display: flex;
flex-direction:row;
flex-wrap: wrap;
justify-content: center; /* centraliza os botões */
background-color: transparent;
}

.bone_filter button{
width: 50px;
height: 50px;
padding: 5px;
/* font-size: 14px; */
border-radius: 5px;
cursor: pointer;
opacity: 0.6;
background-color: rgba(0, 0, 0, 0.8);
/* box-shadow: 0px 0px 0px 2px rgb(0, 0, 0); */
transition: all 0.2s ease-in-out;
box-shadow: 0 2px 6px rgba(0, 255, 42, 0.9);
}

.bone_filter button>img{
width: 100%;
height: 100%;
object-fit: fill;
}


.bone_filter button:hover {
opacity: 1;
transform: scale(1.05);
}

.bone_filter button:focus {
outline: none;
box-shadow: 0 0 5px 2px rgba(0, 188, 119, 0.5);
}

.bone_filter button.active {
border: 2px solid #333;
opacity: 1;
}

.left{
	width: 48vw;
	height: 78vh;
	min-height: auto;

}
.right{
	width: 48vw;
	height: 78vh;
	min-height: auto;

}
